In [18]:
#Q1
def sort_tuple(tl):
    return(sorted(tl,key=lambda x:x[1],reverse=True))

In [19]:
tl=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Virat Kohli', 24936), ('Jack Kallis', 25534)]
print(sort_tuple(tl))

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [33]:
#Q2
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l1=map(lambda x:x**2,l1)
list(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [35]:
#Q3
l2=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2=map(lambda x:str(x),l2)
tuple(l2)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [44]:
#Q4
from functools import reduce
num = list(range(1, 26))
prod=reduce(lambda x,y:x*y, num)
print("The product of numbers from 1 to 25 is:", prod)

The product of numbers from 1 to 25 is: 15511210043330985984000000

In [47]:
#Q5
l3=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
filt=filter(lambda x:x%2==0 & x%3==0,l3)
list(filt)

[2, 6, 60, 90, 120, 46]

In [62]:
#Q6
l4=['python', 'php', 'aba', 'radar', 'level']
l5=list(filter(lambda x: (x=="".join(reversed(x))),l4))
l5

['php', 'aba', 'radar', 'level']