In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd

In [8]:
data=[4, 8, 15, 16, 23, 42]

In [13]:
df=pd.Series(data)

In [14]:
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [15]:
type(df)

pandas.core.series.Series

In [20]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
a=1
ad=2
av=3
af=5
data1=[a,ad,av,af]
df1=pd.Series(data1)

In [21]:
df1

0    1
1    2
2    3
3    5
dtype: int64

In [24]:
#Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.
data2={
'Name':['Alice','Bob','Claire'],
    'Age':[2,30,27],
    'Gender':['Female','Male','Female']
}

In [26]:
df2=pd.DataFrame(data2)

In [27]:
df2

     Name  Age  Gender
0   Alice    2  Female
1     Bob   30    Male
2  Claire   27  Female

In [28]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

'''
In Pandas, a DataFrame is like a 2D table, great for structured data with rows and columns. 
It's flexible, allowing different data types in each column. 
A Series, on the other hand, is like a single column or row from a DataFrame. 
It's best for one-dimensional data, such as a list of values of the same type. 
So, DataFrames handle multi-dimensional data, while Series are for one-dimensional data.
Examples are give in Question 2 and 3.
'''

In [29]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
'''
Certainly, here's a concise version:

1. Filtering: Select specific rows based on conditions, useful for extracting relevant data.

2. Sorting: Arrange data by columns to understand trends or patterns better.

3. Grouping and Aggregation: Summarize data by grouping and applying functions, ideal for getting insights from categorical data.

4. Joining and Merging: Combine data from different sources using common keys for more comprehensive analysis.

5. Pivoting: Reshape data for better presentation or summarization.

6. Handling Missing Data: Manage missing values by either removing or filling them.

7. Creating New Columns: Add calculated columns to your DataFrame.

8. Applying Functions: Transform data in specific columns using custom or built-in functions.
'''

"\nCertainly, here's a concise version:\n\n1. Filtering: Select specific rows based on conditions, useful for extracting relevant data.\n\n2. Sorting: Arrange data by columns to understand trends or patterns better.\n\n3. Grouping and Aggregation: Summarize data by grouping and applying functions, ideal for getting insights from categorical data.\n\n4. Joining and Merging: Combine data from different sources using common keys for more comprehensive analysis.\n\n5. Pivoting: Reshape data for better presentation or summarization.\n\n6. Handling Missing Data: Manage missing values by either removing or filling them.\n\n7. Creating New Columns: Add calculated columns to your DataFrame.\n\n8. Applying Functions: Transform data in specific columns using custom or built-in functions.\n"

In [ ]:
name=pd.Series(['ram','shyam','sita','siya'])
roll=pd.Series([12,13,14,15])
city=pd.Series(['pune','goa','mumbai',])