In [1]:
#Q1. List any five functions of the pandas library with execution.
'''
read_csv(): This function is used to read data from a CSV file and create a DataFrame.
head(): This function is used to display the first few rows of a DataFrame.
describe(): This function provides summary statistics of numeric columns in a DataFrame.
groupby(): This function is used for grouping and aggregating data based on one or more columns.
merge(): This function is used to merge two or more DataFrames based on common columns.
'''

'\nread_csv(): This function is used to read data from a CSV file and create a DataFrame.\nhead(): This function is used to display the first few rows of a DataFrame.\ndescribe(): This function provides summary statistics of numeric columns in a DataFrame.\ngroupby(): This function is used for grouping and aggregating data based on one or more columns.\nmerge(): This function is used to merge two or more DataFrames based on common columns.\n'

In [2]:
#Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.
import pandas as pd
def new_index(df):
    df=df.reset_index(drop=True)
    newind=pd.Series(range(1,len(df)*2,2))
    df.index=newind
    return df
data={'A':[1,2,3,4,5],'B':[5,4,3,2,1],'C':[2,3,4,5,1]}

df=pd.DataFrame(data)

df=new_index(df)
print(df)

   A  B  C
1  1  5  2
3  2  4  3
5  3  3  4
7  4  2  5
9  5  1  1

In [3]:
#Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.
data1={'Values':[4,7,3,9,5]}
df1=pd.DataFrame(data1)
s=0
for i in range(4):
    s+=df1["Values"].iloc[i]
print(s)

23

In [4]:
#Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.
data2={'Text':['This function is used to read data from a CSV file and create a DataFrame.','This function is used to display the first few rows of a DataFrame.',' This function provides summary statistics of numeric columns in a DataFrame.']}
df2=pd.DataFrame(data2)

def wordcount(x):
    return len(x.split(' '))
df2['Word_Count']=df2['Text'].apply(wordcount)

In [5]:
df2

                                                Text  Word_Count
0  This function is used to read data from a CSV ...          15
1  This function is used to display the first few...          13
2   This function provides summary statistics of ...          12

In [6]:
#Q5. How are DataFrame.size() and DataFrame.shape() different?
'''
DataFrame.size() returns the total number of elements (rows times columns) in the DataFrame.
DataFrame.shape() returns a tuple representing the dimensions of the DataFrame, specifically (number of rows, number of columns).
'''

'\nDataFrame.size() returns the total number of elements (rows times columns) in the DataFrame.\nDataFrame.shape() returns a tuple representing the dimensions of the DataFrame, specifically (number of rows, number of columns).\n'

In [7]:
#Q6. Which function of pandas do we use to read an excel file?
# We use pandas.read_excel() to raed excel file.

In [8]:
#Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.
data3={'Email':['john.doe@example.com','physics.wala@example.com','data.science@example.com']}
df3=pd.DataFrame(data3)
def username(x):
    return x.split('@')[0]
df3['Username']=df3['Email'].apply(username)

In [9]:
df3

                      Email      Username
0      john.doe@example.com      john.doe
1  physics.wala@example.com  physics.wala
2  data.science@example.com  data.science

In [10]:
#You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.
data4={'A':[9,2,3,8,5],'B':[5,2,3,8,1],'C':[7,3,1,5,9]}
df4=pd.DataFrame(data4)
def selectrow(df4):
    select_row=df4[(df4['A']>5) & (df4['B']<10)]
    return select_row
new_df=selectrow(df4)

In [11]:
new_df

   A  B  C
0  9  5  7
3  8  8  5

In [12]:
#Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.
print('Mean = ',df1.mean(),'\n\nMedian = ',df1.median(),'\n\nSTD = ',df1.std())

Mean =  Values    5.6
dtype: float64

Median =  Values    5.0
dtype: float64

STD =  Values    2.408319
dtype: float64

In [13]:
#Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.
data5={'Date':pd.date_range(start='2023-09-20',periods=30,freq='D'),'Sales':[100, 120, 130, 110, 90, 80, 105, 115, 125, 140, 120, 110, 100, 95, 105, 115, 130, 140, 145, 135, 120, 110, 100, 95, 105, 115, 130, 140, 145, 135]}
df5=pd.DataFrame(data5)

In [14]:
df5['MovingAverage']=df5['Sales'].rolling(window=7,min_periods=1).mean()
print(df5)

         Date  Sales  MovingAverage
0  2023-09-20    100     100.000000
1  2023-09-21    120     110.000000
2  2023-09-22    130     116.666667
3  2023-09-23    110     115.000000
4  2023-09-24     90     110.000000
5  2023-09-25     80     105.000000
6  2023-09-26    105     105.000000
7  2023-09-27    115     107.142857
8  2023-09-28    125     107.857143
9  2023-09-29    140     109.285714
10 2023-09-30    120     110.714286
11 2023-10-01    110     113.571429
12 2023-10-02    100     116.428571
13 2023-10-03     95     115.000000
14 2023-10-04    105     113.571429
15 2023-10-05    115     112.142857
16 2023-10-06    130     110.714286
17 2023-10-07    140     113.571429
18 2023-10-08    145     118.571429
19 2023-10-09    135     123.571429
20 2023-10-10    120     127.142857
21 2023-10-11    110     127.857143
22 2023-10-12    100     125.714286
23 2023-10-13     95     120.714286
24 2023-10-14    105     115.714286
25 2023-10-15    115     111.428571
26 2023-10-16    130     110.714286
27 2023-10-17    140     113.571429
28 2023-10-18    145     118.571429
29 2023-10-19    135     123.571429

In [19]:
#Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a newcolumn 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
data6={'Date':pd.date_range(start='2023-09-21', periods=10)}
df6=pd.DataFrame(data6)
df6['Weekend']=df6['Date'].dt.strftime('%A')

In [20]:
df6

        Date    Weekend
0 2023-09-21   Thursday
1 2023-09-22     Friday
2 2023-09-23   Saturday
3 2023-09-24     Sunday
4 2023-09-25     Monday
5 2023-09-26    Tuesday
6 2023-09-27  Wednesday
7 2023-09-28   Thursday
8 2023-09-29     Friday
9 2023-09-30   Saturday

In [30]:
#Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31' 
data7={'Date':pd.date_range(start='2022-12-25', periods=50)}
df7=pd.DataFrame(data7)
def sel(df7):
    startd='2023-01-01'
    endd='2023-01-31'
    sell=df7[(df7['Date']>=startd) & (df7['Date']<=endd)]
    return sell
new_df1=sel(df7)

In [31]:
new_df1

         Date
7  2023-01-01
8  2023-01-02
9  2023-01-03
10 2023-01-04
11 2023-01-05
12 2023-01-06
13 2023-01-07
14 2023-01-08
15 2023-01-09
16 2023-01-10
17 2023-01-11
18 2023-01-12
19 2023-01-13
20 2023-01-14
21 2023-01-15
22 2023-01-16
23 2023-01-17
24 2023-01-18
25 2023-01-19
26 2023-01-20
27 2023-01-21
28 2023-01-22
29 2023-01-23
30 2023-01-24
31 2023-01-25
32 2023-01-26
33 2023-01-27
34 2023-01-28
35 2023-01-29
36 2023-01-30
37 2023-01-31