In [1]:
'''A database is a structured collection of data for efficient storage, retrieval, and management.

SQL databases (relational databases) use structured query language (SQL) and have a predefined schema with tables to store data. 
They offer strong consistency and support complex queries but are less flexible with unstructured or rapidly changing data.

NoSQL databases (non-relational databases) are designed for unstructured and rapidly changing data. 
They don't rely on a fixed schema, provide flexible data modeling, and scale horizontally. 
However, they may sacrifice some features like strong consistency and complex querying.
'''

"A database is a structured collection of data for efficient storage, retrieval, and management.\n\nSQL databases (relational databases) use structured query language (SQL) and have a predefined schema with tables to store data. \nThey offer strong consistency and support complex queries but are less flexible with unstructured or rapidly changing data.\n\nNoSQL databases (non-relational databases) are designed for unstructured and rapidly changing data. \nThey don't rely on a fixed schema, provide flexible data modeling, and scale horizontally. \nHowever, they may sacrifice some features like strong consistency and complex querying.\n"

In [4]:
'''
DDL stands for Data Definition Language. It is a subset of SQL used to define and manage the structure of a database.

CREATE is used to create database objects like tables, views, indexes, or procedures. For example, "CREATE TABLE" is used to create a new table in a database.
CREATE TABLE EmployeesInfo (
    EmployeeID INT,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Department VARCHAR(50)
);


DROP is used to delete database objects. For example, "DROP TABLE" is used to remove a table from a database.
DROP TABLE EmployeesInfo;


ALTER is used to modify the structure of existing database objects. For example, "ALTER TABLE" is used to add or remove columns from a table.
ALTER TABLE EmployeesInfo
ADD Salary DECIMAL(10,2);

TRUNCATE is used to delete all the data in a table while keeping its structure intact. For example, "TRUNCATE TABLE" is used to remove all rows from a table, effectively emptying it.
TRUNCATE TABLE EmployeesInfo;

These DDL statements allow for the creation, deletion, modification, and truncation of database objects, helping to define and manage the structure of a database.
'''

'\nDDL stands for Data Definition Language. It is a subset of SQL used to define and manage the structure of a database.\n\nCREATE is used to create database objects like tables, views, indexes, or procedures. For example, "CREATE TABLE" is used to create a new table in a database.\nCREATE TABLE EmployeesInfo (\n    EmployeeID INT,\n    FirstName VARCHAR(50),\n    LastName VARCHAR(50),\n    Department VARCHAR(50)\n);\n\n\nDROP is used to delete database objects. For example, "DROP TABLE" is used to remove a table from a database.\nDROP TABLE EmployeesInfo;\n\n\nALTER is used to modify the structure of existing database objects. For example, "ALTER TABLE" is used to add or remove columns from a table.\nALTER TABLE EmployeesInfo\nADD Salary DECIMAL(10,2);\n\nTRUNCATE is used to delete all the data in a table while keeping its structure intact. For example, "TRUNCATE TABLE" is used to remove all rows from a table, effectively emptying it.\nTRUNCATE TABLE EmployeesInfo;\n\nThese DDL statements allow for the creation, deletion, modification, and truncation of database objects, helping to define and manage the structure of a database.\n'

In [5]:
'''
DML stands for Data Manipulation Language. It is a subset of SQL used to manipulate and modify data within a database.

INSERT is used to add new records into a table. For example, to insert a new employee record into the "EmployeesInfo" table.
INSERT INTO EmployeesInfo (EmployeeID, FirstName, LastName, Department)
VALUES (1, 'John', 'Doe', 'Sales');

UPDATE is used to modify existing records in a table. For example, if we want to update the department of an employee with EmployeeID 1 in the "EmployeesInfo" table.
UPDATE EmployeesInfo
SET Department = 'Marketing'
WHERE EmployeeID = 1;

DELETE is used to remove records from a table. For example, if we want to delete an employee with EmployeeID 1 from the "EmployeesInfo" table.
DELETE FROM EmployeesInfo
WHERE EmployeeID = 1;
'''

'\nDML stands for Data Manipulation Language. It is a subset of SQL used to manipulate and modify data within a database.\n\nINSERT is used to add new records into a table. For example, to insert a new employee record into the "EmployeesInfo" table.\nINSERT INTO EmployeesInfo (EmployeeID, FirstName, LastName, Department)\nVALUES (1, \'John\', \'Doe\', \'Sales\');\n\nUPDATE is used to modify existing records in a table. For example, if we want to update the department of an employee with EmployeeID 1 in the "EmployeesInfo" table.\nUPDATE EmployeesInfo\nSET Department = \'Marketing\'\nWHERE EmployeeID = 1;\n\nDELETE is used to remove records from a table. For example, if we want to delete an employee with EmployeeID 1 from the "EmployeesInfo" table.\nDELETE FROM EmployeesInfo\nWHERE EmployeeID = 1;\n'

In [6]:
'''
DQL stands for Data Query Language. 
SELECT is a commonly used DQL statement used to retrieve specific data from one or more tables in a database. 
For example:
SELECT FirstName, LastName, Department
FROM EmployeesInfo;
'''

'\nDQL stands for Data Query Language. \nSELECT is a commonly used DQL statement used to retrieve specific data from one or more tables in a database. \nFor example:\nSELECT FirstName, LastName, Department\nFROM EmployeesInfo;\n'

In [7]:
'''
Primary Key: A primary key is a unique identifier for a record in a table. 
It ensures uniqueness, non-nullability, and data integrity within the table.

Foreign Key: A foreign key establishes a relationship between two tables by referencing the primary key of another table. 
It enforces referential integrity and maintains data consistency between related tables.
'''

'\nPrimary Key: A primary key is a unique identifier for a record in a table. \nIt ensures uniqueness, non-nullability, and data integrity within the table.\n\nForeign Key: A foreign key establishes a relationship between two tables by referencing the primary key of another table. \nIt enforces referential integrity and maintains data consistency between related tables.\n'

In [10]:
'''
import mysql.connector

# Establishing the connection
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = connection.cursor()

# Executing SQL queries
cursor.execute("SELECT * FROM employees")
result = cursor.fetchall()

# Printing the query result
for row in result:
    print(row)

# Closing the cursor and connection
cursor.close()
connection.close()


We create a cursor object using the cursor() method. The cursor serves as a handle or pointer to execute SQL queries and retrieve results from the database.

The execute() method is used to execute SQL queries. In this example, we execute a SELECT query to fetch all records from the "employees" table. 
The fetchall() method retrieves all the rows returned by the query.

'''

'\nimport mysql.connector\n\n# Establishing the connection\nconnection = mysql.connector.connect(\n    host="localhost",\n    user="your_username",\n    password="your_password",\n    database="your_database"\n)\n\n# Creating a cursor object\ncursor = connection.cursor()\n\n# Executing SQL queries\ncursor.execute("SELECT * FROM employees")\nresult = cursor.fetchall()\n\n# Printing the query result\nfor row in result:\n    print(row)\n\n# Closing the cursor and connection\ncursor.close()\nconnection.close()\n\n\nWe create a cursor object using the cursor() method. The cursor serves as a handle or pointer to execute SQL queries and retrieve results from the database.\n\nThe execute() method is used to execute SQL queries. In this example, we execute a SELECT query to fetch all records from the "employees" table. \nThe fetchall() method retrieves all the rows returned by the query.\n\n'

In [ ]:
'''
FROM: The FROM clause specifies the tables that are involved in the query.
JOIN: The JOIN clause specifies how the tables are related to each other.
WHERE: The WHERE clause specifies the conditions that the rows must meet in order to be included in the result set.
GROUP BY: The GROUP BY clause specifies how the rows are grouped together.
HAVING: The HAVING clause specifies the conditions that the groups must meet in order to be included in the result set.
SELECT: The SELECT clause specifies the columns that are included in the result set.
ORDER BY: The ORDER BY clause specifies the order in which the rows are returned.
LIMIT: The LIMIT clause specifies the number of rows that are returned.
'''